.form
  = form_for [@post] do |f|
    .form_masseges          
      .input_box
        = f.text_filed :content, class: 'input_box__textArea', placeholder: '25文字以内'
      = f.submit '投稿する', class:'sendBtn'