* {
  box-sizing: border-box;
}
.wrapper {
  background-color: #F0E8E4;
  height: 100vh;
}
.header {
  background-color: skyblue;
  height: 65px;
  width: 100vw;
  display: flex;
  padding: 0 250px;
  line-height: 65px;
  filter: drop-shadow(3px 3px 3px)
         rgba(100,100,100,0.6);
  &__left {
    font-size: 30px;
    width: 65%;
    color: #473838;
  }
  &__right {
    display: flex;
    width: 35%;
    &--signUp {
      margin-right: 30px;
      display: block;
      text-decoration: none;
      color: #473838;
    }
    &--login {
      display: block;
      text-decoration: none;
      color: #473838;
    }

  }

}

.main {
  padding: 30px 250px 0;
  .main__contents {
    filter: drop-shadow(3px 3px 3px rgba(100,100,100,0.6));
    height: 300px;
    margin: 0 auto;
    padding: 10px;
    overflow: scroll;
    background-color: white;
    &__content{
      width: 80%;
      height: 70px;
      margin: 0 auto 10px;
      border: solid 1px #f6f6f6;
      display: flex;
      position: relative;
      &__text {
        width: 80%;
        margin: 0 10px;
        line-height: 70px;
      }
      &__rightBox {
        position: absolute;
        color: #473838;
        font-size: 10px;
        bottom: 5px;
        right: 5px;
        &__name {
          font-size:16px;
        }
        // &__date {
          
        // }
      }
    }
  }
  .form {
    background-color: #d2d2d2;
    // height: 90px;
    padding: 20px 50px;
    margin: 30px 0px;
    form {
      // display: flex;
      .input-box {
        margin: 0 auto;
        width: 80%;
        &__textArea{
          height: 120px;
          width: 100%;
          border-style: none;
          padding:0 40px 0 10px;
          resize: none;
        }
        &__submitBtn {
          display: block;
          margin: 10px auto 0;
        }
      }        
      
    }
  }
}

.footer {
  margin: 0 auto;
  text-align: center;
}