* {
  box-sizing: border-box;
}
.wrapper {
  background-color: #F0E8E4;
  height: 100vh;
}
.header {
  background-color: skyblue;
  height: 65px;
  width: 100vw;
  display: flex;
  padding: 0 250px;
  line-height: 65px;
  filter: drop-shadow(3px 3px 3px)
         rgba(100,100,100,0.6);
  &__left {
    font-size: 30px;
    width: 65%;
    color: #473838;
  }
  &__right {
    display: flex;
    width: 35%;
    &--signUp {
      margin-right: 30px;
      display: block;
      text-decoration: none;
      color: #473838;
    }
    &--login {
      display: block;
      text-decoration: none;
      color: #473838;
    }

  }

}

.main {
  padding: 30px 250px 0;
  &__contents {
    // filter: drop-shadow(3px 3px 3px rgba(100,100,100,0.6));
    height: 300px;
    margin: 0 auto;
    padding: 10px;
    overflow: scroll;
    background-color: white;
  }
}

.footer {
  margin: 0 auto;
  text-align: center;
}